<!doctype HTML>
<head>
<title>Spotify Server</title>
</head>
<body>
<h1>Play that funky music</h1>


    {% if is_playing %}
        <p>Now playing: {{ current_track.name }} by {{ current_track.artists[0].name }}</p>
        <img src="{{ cover.data_uri }}">
        <p><b>Queued</b></p>
        {% for item in playlist %}
            {% if item != current_track %}
                <p>{{ item.name }} - {{ item.artists[0].name }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form action="/search">
        <input type="text" name="q">
        <input type="submit" value="search">
    </form>
</body>
</html>
