<!DOCTYPE html>
    <html lang="en">
    <head>
    <title>Spotify Server</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script>
        $(document).ready(function(){
            $('#search-results').on("click", '.add-track', function(){
                $.ajax({
                    url: "/play",
                    data: {
                        l: $(this).attr('data-spotify-url')
                    },
                    success: function(){
                        document.location.href = document.location.href
                    }
                })
            })
            $('#search').on("submit", function(e){
                e.preventDefault();
                $('#search-results').empty();
                $.ajax({
                    url: "/search",
                    data: {
                        q: $("input[name=q]").val()
                    },
                    success: function(res){
                        var tracks = res.tracks;
                        var chunked_tracks = []
                        for(var i = 0; i < tracks.length; i+=6){
                            chunked_tracks.push(tracks.slice(i, i+6));

                        }
                        console.log(chunked_tracks);
                        $.each(chunked_tracks, function(index, chunk){
                            var row = $('<div class="row"></div>');
                            $.each(chunk, function(index, track) {
                                $(row).append('<div class="col-md-2"><p>'+track.artist+'<br>'+track.name+'<br><span class="glyphicon glyphicon-play-circle add-track" data-spotify-url="'+track.link+'"></span></p></div>')
                            });
                            $('#search-results').append(row);
                        })
                    }
                })
            })
        })
    </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Random Welcome Message</h1>
                </div>
            </div>
            <div class="row">
                    {% if is_playing %}
                        <div class="col-md-4">
                            <img src="{{ cover.data_uri }}">
                        </div>
                        <div class="col-md-8">
                            Now playing: {{ current_track.name }} by {{ current_track.artists[0].name }}
                        </div>
                    {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><b>Queued</b></p>
                    {% for item in playlist %}
                        {% if item != current_track %}
                            <p>{{ item.name }} - {{ item.artists[0].name }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="search">
                        <input type="text" name="q">
                        <input type="submit" value="search">
                    </form>
                </div>
            </div>
            <div id="search-results">
            </div>
            <div class="row">
                <div class="col-md-12">
                    Bootstrap icons courtesy of <a href="http://glyphicons.com/">Glyphicons</a>
                </div>
            </div>
        </div>
    </body>
</html>
